* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 2%;
}

nav {
    border: 2px double black;
    margin: 1%;
    padding: 1%;
}

nav a {
    text-decoration: none;
    color: black; 
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    display: inline-block;
    margin-right: 5%; 
    margin-left: 5%;
}

ul #nav_list{
    margin: 0;
    padding: 0;
}

main {
    background-color: #D3D3D3;
    margin: 2%;
    padding: 2%;
}

main #hackatons {
    text-align: left;
    margin:0 2% 0 2%;
    padding:0 2% 0 2%;
}

main #eductaion_list{
    list-style-type: none;
}

main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside {
    margin: 2%;
    padding: 2%;
}

footer {
    background-color: #D3D3D3;
    border-top: 2px double black;
    margin: 0;
    padding-bottom: 10%;
}


@media (min-width: 800px)  {
    .row {
        display: flex;
    }
    
    .column {
        flex: 50%;
        padding: 10px;
    }
}

#hide {
    display: none;
    padding:0;
    margin:0;
}

#homepage_link:hover{
    border-bottom: 2px double black;
    
}

#educataion_link:hover{
    border-bottom: 2px double black;
}

#project_link:hover{
    border-bottom: 2px double black;
    
}

#skills_link:hover{
    border-bottom: 2px double black;
    
}

#contacts_link:hover{
    border-bottom: 2px double black; 
}

#educataion_link:hover #hide {
    display: block;
    position: absolute;
}

/* 
part 1 (2)
about list 
about folder access 

part 2 (4)
table 
list 
layout(normal flow, float, position, display)

(small part)
form
javascript (grab info from html)

grid/f/ex layout responsive and media query
*/